@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap");

* {
  top: 0px;
  padding: 0px;
  margin: 0px;
}

html,
body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}
