@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin,greek-ext,cyrillic");
@import url("https://fonts.googleapis.com/css2?family=Lexend");
* {
  margin: 0;
  padding: 0;
}
:root {
  --LavenderBlush: #f5f3f4;
  --TextColor: rgba(18, 16, 12, 0.7);
  --login: #12100c;
  --orange: #ffae33;
}

body {
  background: var(--LavenderBlush);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.wrapper {
  max-width: 1450px;
  margin: 0 auto;
  font-size: 23px;
  color: var(--TextColor);
}
button {
  border-radius: 16px;
  border: none;
}
button:active {
  outline: none;
}

/* HEASER START */
header {
  padding: 20px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  letter-spacing: 1px;
  font-family: "Lexend";
  font-weight: 400;
  font-size: 26px;
  margin-left: 10px;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline;
  font-size: 16px;
}
.navigation li:not(:last-child) {
  margin-right: 48px;
}

.login {
  background-color: var(--login);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 23px;
  border-radius: 12px;
  color: white;
  outline: none;
  border: none;
  font-family: Roboto;
}

/* MAIN SECTION */
.main-section {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.try {
  max-width: 550px;
}
.try .head {
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
  color: var(--login);
  margin-bottom: 38px;
}
.dev-env p {
  line-height: 32px;
}
.dev-env {
  margin-bottom: 48px;
}
.try-now {
  display: flex;
  justify-content: start;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}
.try-now button {
  padding: 11px 46px;
  background-color: var(--orange);
  font-size: 18px;
  line-height: 22px;
  margin-right: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.company-icon img{
  margin-right: 29px;
}
