@import url("https://fonts.googleapis.com/css2?family=Lexend");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  margin: 0;
  padding: 0;
}
:root {
  --LavenderBlush: #f5f3f4;
  --TextColor: rgba(18, 16, 12, 0.7);
  --login: #12100c;
  --orange: #ffae33;
  --pink: #ffb0ae;
}

body {
  background: var(--LavenderBlush);
  font-family: "Roboto";
  font-weight: 400;
}
.wrapper {
  max-width: 1450px;
  margin: 0 auto;
  font-size: 23px;
  color: var(--TextColor);
}
button {
  border-radius: 16px;
  border: none;
}
button:active {
  outline: none;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEASER START */
header {
  padding: 20px 0px;
}


header p {
  letter-spacing: 1px;
  font-family: "Lexend";
  font-weight: 600;
  font-size: 25px;
  margin-left: 10px;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline;
  font-size: 16px;
  line-height: 24px;
}
.navigation li:not(:last-child) {
  margin-right: 48px;
}

.login {
  background-color: var(--login);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 23px;
  border-radius: 12px;
  color: white;
  outline: none;
  border: none;
  font-family: Roboto;
}

/* MAIN SECTION */
.main-section {
  margin-top: 52px;
  margin-bottom: 176px;
}
.try {
  max-width: 550px;
}
.try .head {
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
  color: var(--login);
  margin-bottom: 38px;
}
.dev-env p {
  line-height: 32px;
}
.dev-env {
  margin-bottom: 48px;
}
.try-now {
  display: flex;
  justify-content: start;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}
.Button {
  padding: 11px 46px;
  font-size: 18px;
  line-height: 22px;
  margin-right: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.yellowBtn {
  background-color: var(--orange);
}
.company-icon img {
  margin-right: 29px;
}

/* START CODING */
.start-coding {
  display: flex;
  justify-content: center;
  margin-bottom: 340px;
}
.start-coding p {
  text-align: center;
  font-size: 54px;
  line-height: 64px;
  font-weight: 900;
  color: var(--login);
}
.start-coding s {
  color: #999795;
}

/* CI/CD START */
.ci-cd {
  margin-bottom: 337px;
}
.ci-cd > div {
  max-width: 648px;
}
.ci-cd p {
  font-size: 24px;
  line-height: 32px;
}
.ci-cd .head {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: black;
  margin-bottom: 8px;
}
.pinkBtn {
  background: var(--pink);
}
.buttons {
  margin-top: 150px;
}
