@import url("https://fonts.googleapis.com/css2?family=Lexend");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  margin: 0;
  padding: 0;
}
:root {
  --LavenderBlush: #f5f3f4;
  --TextColor: rgba(18, 16, 12, 0.7);
  --main-black: #12100c;
  --orange: #ffae33;
  --pink: #ffb0ae;
  --launch-card: #f9f9f9;
  --btn-blue: #2684ff;
  --dark-orange: #fc6d26;
}

body {
  background: var(--LavenderBlush);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 23px;
  color: var(--TextColor);
}
.wrapper {
  max-width: 1450px;
  margin: 0 auto;
}
button {
  border-radius: 16px;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
button:active {
  outline: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 54px;
  line-height: 64px;
  color: var(--main-black);
}

/* HEASER START */

header {
  padding: 20px 0px;
}

header p {
  letter-spacing: 1px;
  font-family: "Lexend";
  font-weight: 600;
  font-size: 25px;
  margin-left: 10px;
}
.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline;
  font-size: 16px;
  line-height: 24px;
}
.navigation li:not(:last-child) {
  margin-right: 48px;
}

.login {
  background-color: var(--main-black);
  font-size: 14px;
  line-height: 20px;
  padding: 6px 23px;
  border-radius: 12px;
  color: white;
  outline: none;
  border: none;
  font-family: Roboto;
}

/* MAIN SECTION */

.main-section {
  margin-top: 52px;
  margin-bottom: 176px;
}
.try {
  max-width: 550px;
}
.try .head {
  font-weight: bold;
  font-size: 80px;
  line-height: 88px;
  color: var(--main-black);
  margin-bottom: 38px;
}
.dev-env p {
  line-height: 32px;
}
.dev-env {
  margin-bottom: 48px;
}
.try-now {
  display: flex;
  justify-content: start;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}
.Button {
  padding: 11px 46px;
  font-size: 18px;
  line-height: 22px;
  margin-right: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.yellowBtn {
  background-color: var(--orange);
}
.company-icon img {
  margin-right: 29px;
}

/* START CODING */

.start-coding {
  display: flex;
  justify-content: center;
  margin-bottom: 340px;
}
.start-coding p {
  text-align: center;
  font-size: 54px;
  line-height: 64px;
  font-weight: 900;
  color: var(--main-black);
}
.start-coding s {
  color: #999795;
}

/* CI/CD START */

.ci-cd {
  margin-bottom: 337px;
}
.ci-cd > div {
  max-width: 648px;
}
.ci-cd p {
  font-size: 24px;
  line-height: 32px;
}
.ci-cd .head {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: black;
  margin-bottom: 8px;
}
.pinkBtn {
  background: var(--pink);
}
.buttons {
  margin-top: 150px;
}

/* REMOTE FIRST */

.remove-first {
  text-align: center;
  margin-bottom: 176px;
}

.remove-first .text {
  margin: 0 auto;
  max-width: 850px;
  margin-top: 30px;
}

.extension {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.extension div {
  background: white;
  width: 207px;
  padding: 7px 12px;
  display: flex;
  margin-right: 16px;

  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
.extension div p {
  margin-left: 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: var(--main-black);
}

/* DEVELOPERS */

.developers {
  text-align: center;
  height: 300px;
  background: red;
}

/* BRANDS */

.brands {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 200px;
}
.brands img {
  /*  flex: 0 0 150px;*/
  flex: 0 0 calc(20% - 150px);
  margin: 25px;
  align-self: center;
  justify-self: center;
}

/* GET STARTED */
.get-started {
  padding: 0px 65px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 160px;
}

.cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 56px;
  width: 642px;
}

.card > p {
  margin-bottom: 62px;
}
.card-p {
  max-width: 486px;
  margin: 0 auto;
}

.card h3 {
  color: var(--main-black);
  font-weight: bold;
  margin-bottom: 7px;
}

.card .orange {
  background: var(--dark-orange);
}

.card .black {
  background: black;
}

.card .blue {
  background: var(--btn-blue);
  margin-bottom: 64px;
}

.connect button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding: 11px 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  width: 262px;

  margin: 0 auto;
  margin-bottom: 16px;
}

.card img {
  margin-right: 16px;
}

.gitpod-io {
  margin: 0 auto;
  font-size: 24px;
  line-height: 32px;
  background: #ffe4bc;
  border-radius: 12px;
  width: 150px;
  margin-top: 6px;
  border-radius: 12px;
}

.launch-card {
  padding: 15px 12px;
  background: var(--launch-card);
  margin-bottom: 12px;
}

.launch-btn {
  background-color: var(--main-black);
  padding: 7px 12px;
  max-width: 143px;
  color: white;
}

/* FOOTER START */

footer {
  background: #f9f9f9;
}

footer td {
  padding-bottom: 7px;
}
footer td:not(:last-child) {
  width: 270px;
}

footer table {
  font-size: 13px;
  line-height: 19px;
  text-align: left;
  margin: auto;
  padding: 47px;
}
footer th {
  font-weight: bold;
  color: #12100c;
  padding-bottom: 7px;
}
