@import url("https://fonts.googleapis.com/css2?family=Lexend");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  margin: 0;
  padding: 0;
}
:root {
  --LavenderBlush: #f5f3f4;
  --TextColor: rgba(18, 16, 12, 0.7);
  --main-black: #12100c;
  --orange: #ffae33;
  --pink: #ffb0ae;
  --launch-card: #f9f9f9;
  --btn-blue: #2684ff;
  --dark-orange: #fc6d26;
}

body {
  background: var(--LavenderBlush);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 23px;
  color: var(--TextColor);
}
.wrapper {
  max-width: 1450px;
  margin: 0 auto;
}
button {
  border-radius: 16px;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
  cursor: pointer;
}

button:active {
  outline: none;
}

button:hover {
  opacity: 80%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 54px;
  line-height: 64px;
  color: var(--main-black);
}
