@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
* {
    padding: 0;
    margin: 0;
}

body{
    max-width: 1438px;
    margin: 0 auto;
}
/*HEADER START*/
.wrapper{
    max-width: 940px;
    margin: 0 auto;
    color: #48555B;
}
header{
    padding-top: 41px;
    text-align: center;
}
header img{
    padding-bottom: 317px;
}
.header{
    color: white;
}
.partner{
    font-family: Bebas Neue;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
}
.under-partner{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 221px;
}
.scroll{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.7px;
    padding-bottom: auto;
}

header{
    max-width: 1438px;
    margin: 0 auto;
    text-align: center;
    background: url(images/bg.png) center;
    background-size: cover;
    padding-bottom: 71px;
}
/*HEADER END*/


/*NAVIGATION START*/
.menu{
    border: 1px solid #E6E6E6;
    padding: 24px 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul{
    list-style: none;
}
.navigation a{
    color: #48555B;
    text-decoration:none;
}
.navigation li:not(:last-child){
    padding-right: 40px;
}
/*NAVIGATION END*/


/* MAIN INFO */
.main-info{
    font-family: Open Sans;
    padding-top: 58px;
}
.story-title{
    font-style: normal;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    padding-bottom: 80px;
    letter-spacing: 2.30625px;
}
.story-title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    left: 447px;
    top: 34px;
    background-color: #00A4E5;
    margin: 0 auto;
    display: block;
}
.story{
    letter-spacing: 0.1875px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}
.story-text{
    max-width: 406px;
}
.story-text h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 30px;
}
.story-text a{
    color: #00A4E5;
    text-decoration: none;
}
.story-text p{
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
}

.story-pics{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
.story-pic{
    position: relative;
}
.story-pic p {
    color: white;
    position: absolute;
    top: 18px;
    left: 18px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    max-width: 110px;
}



.services{
    display: flex;
    justify-content: space-between;
    padding-bottom: 78px;
}
.services p{
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    max-width: 405px;
}
.services-title{
    text-align: left;
    padding-right: 155px;
    padding-bottom: 0;
}
.services-title::after{
    left: 0;
}

.button{
    padding: 11px 29px;
    background: #00A4E5;
    height: 40px;
    border: none;
}
input[type=button]{
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    color: white;
    letter-spacing: 0.5px;
}
/* MAIN INFO */